<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="scbc.liyongjie.servicevideoapi.dao.ShareVideoMapper" >
  <resultMap id="BaseResultMap" type="scbc.liyongjie.servicevideoapi.po.ShareVideo" >
    <id column="number" property="number" jdbcType="VARCHAR" />
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <id column="provider_number" property="providerNumber" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />
  </resultMap>

  <insert id="insert" parameterType="scbc.liyongjie.servicevideoapi.po.ShareVideo" >
    insert into `cn.scbc.mycinema`.sharevideo (number, uuid, provider_number,
      date)
    values (#{number,jdbcType=VARCHAR}, #{uuid,jdbcType=VARCHAR}, #{providerNumber,jdbcType=VARCHAR},
      #{date,jdbcType=VARCHAR})
  </insert>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select number, uuid, provider_number, date
    from `cn.scbc.mycinema`.sharevideo
    where number = #{number,jdbcType=VARCHAR}
      and uuid = #{uuid,jdbcType=VARCHAR}
      and provider_number = #{providerNumber,jdbcType=VARCHAR}
  </select>

  <select id="selectByNumber" resultMap="BaseResultMap" >
    select number, uuid, provider_number, date
    from `cn.scbc.mycinema`.sharevideo
    where number=#{number,jdbcType=VARCHAR}
  </select>

  <delete id="deleteVideo" parameterType="java.lang.String">
    delete from `cn.scbc.mycinema`.sharevideo where uuid=#{uuid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from `cn.scbc.mycinema`.sharevideo
    where number = #{number,jdbcType=VARCHAR}
    and uuid = #{uuid,jdbcType=VARCHAR}
    and provider_number = #{providerNumber,jdbcType=VARCHAR}
  </delete>
</mapper>